html { overflow-y: auto }

.osrs-text-plain-11 {
    font-family: "runescape_plain_11regular", "Roboto", sans-serif;
    text-shadow: 1px 1px 1px black;
    font-size: 24px;
    color: var(--osrs-font-color);
    fill: var(--osrs-font-color);
}

.osrs-text-bold-12 {
    font-family: "runescape_bold_12regular", "Roboto", sans-serif;
    text-shadow: 1px 1px 1px black;
    font-size: 24px;
    color: var(--osrs-font-color);
    fill: var(--osrs-font-color);
}

.osrs-text-plain-12 {
    font-family: "runescape_plain_12regular", "Roboto", sans-serif;
    text-shadow: 1px 1px 1px black;
    font-size: 24px;
    color: var(--osrs-font-color);
    fill: var(--osrs-font-color);
}

.osrs-text-quill-8 {
    font-family: "runescape_quill_8regular", "Roboto", sans-serif;
    text-shadow: 1px 1px 1px black;
    font-size: 24px;
    color: var(--osrs-font-color);
    fill: var(--osrs-font-color);
}

.osrs-text {
    color: var(--osrs-font-color)!important;
}

.osrs-tooltip {
    opacity: 1!important;
    background: #ffffa0!important;
    border: 1px solid black;
    color: black!important;
    font-family: "runescape_plain_11regular", "Roboto", sans-serif;
    font-size: 24px!important;
    fill: #ff9c1f;
    border-radius: 0!important;
    padding: 4px!important;
    max-width: 315px;
    transition: none!important;
}
