html {
    --osrs-darkest: #0c0c0c;
    --osrs-darker: #141414;
    --osrs-dark: #272727;
    --osrs-black-brown: #1f1f1f;
    --osrs-light-black-brown: #2f2f2f;
    --osrs-lightest-black-brown: #3c3c3c;
    --osrs-font-color: #ffffff;
    --osrs-yellow: #ffff00;
    --osrs-green: #00fe00;
    --osrs-red: #fe0000;
}
